@charset "utf-8";

/*티켓 헤더*/
.al_header{border-bottom: 1px solid #c6c2c1;}
.al_header ol{padding: 25px 0 30px 0;}
.al_header ol>li{float: left;font-size: 19px;margin-right: 35px;height: 34px;}
.al_header ol>li:first-child,.al_header ol li:first-child+li{background: url(../images/airline_ticket/bg_circle_1.png) 0 0 no-repeat;}
.al_header ol>li>span:first-child{width: 34px;height: 34px;line-height: 34px;text-align: center;display: inline-block;margin-right: 10px;color: #fff;}
.al_header>ol>li:first-child+li+li{background: url(../images/airline_ticket/bg_circle_2.png) 0 0 no-repeat;}
.al_header>ol>li:first-child+li+li>span{color: #4c4c4c;}
.al_header ol+h3{font-size: 37px;color: #661f43;margin-bottom: 5px;}
.al_header p{color: #661f43;margin-bottom: 25px;}
/*passenger_info*/
.passenger_info{margin: 25px 0 85px 0;border-bottom: 1px solid #c6c2c1;}
.passenger_info .passenger_left{width: 41.667%;float: left;padding-left: 2.604%;}
.passenger_left .psg_name{margin-bottom: 10px;}
.passenger_left .psg_name p{font-size: 14px;} 
.passenger_left .psg_name p+p{font-size: 21px;color: #661f43;}

.seat_container{margin-bottom: 60px;}
.seat_container h3{font-size: 36px;margin-bottom: 20px;}
.seat_container .select_seat{border-top: 1px solid #c6c2c1;}
.seat_container .select_seat li a{display: inline-block;padding: 20px 0;width: 100%;border-bottom: 1px solid #c6c2c1;vertical-align: top;}
.seat_container .select_seat li a:hover{background:#661f43;color: #fff;}
.seat_container .select_seat li a:hover .seat_right{color: #fff;}
.seat_container .select_seat li a:hover .seat_left p:first-child+p span:before{color: #fff;}

.select_seat .seat_left{float: left;margin-left: 30px;}
.select_seat .seat_right{float: right;margin-right: 30px;margin-top: 25px;}
.select_seat .seat_left p:first-child{padding-left: 24px;font-size: 14px;background: url(../images/airline_ticket/bg_nabi.png) 0 0 no-repeat;}
.select_seat .seat_left p+p{font-size: 27px;}
.select_seat .seat_left p:first-child+p span:before{display: inline-block;content: "\e803"; font-family: 'fontello';font-size: 20px;color: #661f43;margin:0 10px;}
.select_seat .seat_left p+p+p{font-size: 12px;}
.select_seat .seat_right{font-size: 16px;color: #661f43;}
.question {width: 100%; border: 1px solid #661f43;text-align: center;padding:3.5% 0;}
.question p{font-size: 20px;width: 60%;margin: 0 auto;margin-bottom: 5px;}
.question p+p{font-size: 14px;}


/*팝업창 */
.pop_dim{
		background: url(../images/airline_ticket_5/bg_dim.png) 0 0;
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		overflow:auto;
		z-index: 9999;
	}
	.popup{
		width:100%;
		max-width:960px;
		min-height:550px;
		background-color:aqua;
		margin:0 auto;
	}
	.pop_inner_wrap{
		position: relative;
		background: #ececec;
		display:table;
		width:100%;
		max-width:960px;
		height:100%;
		margin:0 auto;
		padding:20px;
		margin:0 auto;
	}
	.pop_inner{
		display:table-cell;
		vertical-align:middle;
	}
	button{position:absolute;top:0;right:0;}




@media(max-width:1024px){
	.box p{float: none;margin: 0 auto;}
	.box img{float: none;}
}


@media(max-width:768px){
.al_header ol+h3{font-size: 27px;}
.al_header ol li>.mobile_blind{position: absolute;left:-9999px;}
.al_header ol li{margin-right: 5px;font-size: 15px;}
.passenger_right #passenger_title{width: 100%;float: none;}
.passenger_right{margin:0;}
.passengers_name .passenger_name input{width: 100% !important	;float: none;}
.contact_num .country_num select{width: 100%;margin-bottom: 10px;}
.contact_num .tel_num input{width: 100%;}
.email_address input{width: 100%;	}
.question p{width: 90%;}
.select_seat .seat_left{margin-left: 0;}
.select_seat .seat_left{padding:0 10px;}
.select_seat .seat_right{margin-right: 10px;}
.mobile_blind{position: absolute;left: -9999px;}
/*continue box*/
.continue_box {text-align: center;padding: 20px 10px;height: auto;margin-bottom: 	30px;}
.continue_box .date_summary ul{float: none;}
.continue_box .date_summary ul{float: none;}
.continue_box .date_summary a{margin: 0 auto;width: 94%;position: static;display: block;margin-top: 10px;}
.std_continue_box .price_desc{display: none;}
 a.prev_page{margin-left: 30%;}
.depart_box, .return_box{width: 100%;float: none;}
.continue_box .date_summary .price_krw{float: none;padding-right: 0;font-size: 25px;}
.mobile_blind{position: absolute;left: -9999px;}
}