@charset "utf-8";


/*2*/
.freight_select{margin-bottom:25px;}
.freight_select h3{font-size: 37px;color: #661f43;}
.freight_select p{margin: 10px 0;}
.seat_class{margin-bottom: 20px;}
.seat_class>a{display: 	inline-block;	}
.seat_class .class_sel{float: left;width: 49%;box-shadow: 0 4px 4px -4px rgba(0,0,0,0.3);margin-left: 2%;margin-bottom: 15px;border: 1px solid #c6c2c1;}
.seat_class .class_sel .selected_click .card_name{display: inline-block;font-size: 	15px;width: 100%;background: none;text-align:left;border-top: 7px solid #7f7f7f;padding: 	5px 0;padding-left: 2%;}
.class_sel_wrap a:first-child .class_sel .card_selected{display: block;}
.class_sel_wrap a+a .class_sel{margin-top:30px;}
.seat_class .class_sel .card_contents{font-size: 15px;}
.seat_class a:first-child .class_sel{margin-left:0;}
.seat_class .class_sel .card_selected{padding: 5px 0;padding-left: 1%;height: 30px;display: none;}
a.prev_page{padding-bottom: 30px;}


/*selectActive*/
.class_sel_wrap a.selectActive .card_name{background:#661f43 !important	; color: #fff;}
.class_sel_wrap a.selectActive .card_selected{background:#661f43; color: #fff;}
/*.class_sel_wrap .on{background: #661f43;	color: #fff; border: 1px solid #661f43;}*/
.card_name strong{font-size: 20px;font-weight: bold;}
.card_contents .card_li{background: #f7e1ed;}
.card_contents .card_li ul{}
.card_contents .card_li li{padding: 5px 0;border-bottom: 1px solid #fff;padding-left: 1%;}
.card_contents .card_li strong{font-size: 20px;color: #661f43;}
.card_contents .card_more{background: #f7e1ed;display: none;}
.card_contents .card_more li{border-bottom: 1px solid #fff;padding-left: 1%;padding: 5px 0;}
.card_contents .card_more li strong{font-size: 20px;color: #661f43;}
.card_contents .price{padding-top: 10px;}
.card_contents .price p{padding-bottom:5px;padding-left: 1%;}
.card_contents .price p:first-child{font-size: 12px;}
.card_contents .price p+p{font-size: 20px;padding-bottom:10px;}
.card_contents .price p+p strong{font-weight: bold;}
.seat_class .benefit_more{width: 100%;height: 43px;font-size: 15px;color: #661f43;font-weight: bold;position: relative;}
.seat_class .benefit_more:after{display:inline-block;content: "\f004"; font-family: 'fontello';margin-left: 10px; color:#661f43;transition: all 1s linear;}
.seat_class .benefit_more.on:after{transform:rotate(180deg);}
.box_flight{width: 100;}
.depart_box, .return_box{width: 49%;margin-left: 1%;float: left;}
.depart_box{margin-left: 0;}
.box_header .flight_date_info{margin-bottom: 15px;}
.box_header .flight_date_info h4{float: left;font-size: 24px;color: #661f43;font-weight: bold;}
.box_header .flight_date_info p{float: right;font-size: 20px;font-weight: bold;}
.filter_select{margin-bottom: 20px;}
.filter_select select{border-radius: 2px;height: 48px;width: 	49%;}
.filter_select select:hover,.filter_select select:focus{border: 1px solid #661f43;}
.flight_box_column #flight_time{width: 64%;float: left;/*background: url(../images/airlineTicket_2/bg_select_bar.png) 20% 50% no-repeat;padding-left: 15%;*/}
.flight_box_column #flight_via{width: 34%;float: left;margin-left: 2%;}
.box_list ul li{margin-bottom: 17px;}
.box_list ul li a{display: block;	border: 1px solid #c6c2c1;box-shadow: 0 4px 4px -4px rgba(0,0,0,0.3);}
.box_list ul li a:hover{border: 1px solid #661f43;}
.box_list ul li a.activeFocus{background: #661f43;color: #fff;border: 1px solid #661f43;}
.box_list ul li a.activeFocus .flight_wrap .flight_title{border-bottom:1px dotted #fff;}
.flight_wrap .flight_title{background: #661f43	;color: #fff;position: relative;padding: 5px 13px;border-bottom:1px solid #c6c2c1;}
.flight_wrap .flight_cotainer{background: url(../images/airlineTicket_2/fly.png) 50% 40% no-repeat;padding: 5px 10px;background-size: 95% 20px;}
.flight_wrap .flight_cotainer span{display: inline-block;}
.flight_wrap .flight_cotainer p:first-child{padding-bottom: 35px;}
.flight_wrap .flight_cotainer .dp_time{width: 24%;font-size: 25px;}
.flight_wrap .flight_cotainer .time_required{width: 49%;text-align: center;font-size: 14px;}
.flight_wrap .flight_cotainer .rt_time{width: 24%;text-align: right;font-size: 25px;}
.flight_wrap .flight_cotainer p+p{margin-bottom: 10px;}
.flight_wrap .flight_cotainer .dp_contry{width: 24%;}
.flight_wrap .flight_cotainer .via_contry{width: 49%;text-align: center;}
.flight_wrap .flight_cotainer .rt_counry{width: 24%;text-align: right;}
.flight_wrap .flight_cotainer .remaining_seat{width: 49%;color: #c2262e;}
.flight_wrap .flight_cotainer .remaining_seat{padding-left: 15px;background: url(../images/airlineTicket_2/bg_information.png) 0 50% no-repeat;}
.flight_wrap .flight_cotainer .flight_company{width: 49%;text-align: right;}
.freight>ul{border-top: 1px solid #c6c2c1;}
.freight button{width: 100%;background: #fff;text-align: left;color: #661f43;margin-bottom: 10px;}
.freight .freight_condition>button:before{content: "\e803";font-size: 23px;display: inline-block;font-family: 'fontello'; }
.freight .freight_allowance>button:before{content: "\e805";font-size: 23px;display: inline-block;font-family: 'fontello'; }
.freight ul .freight_condition,.freight ul .freight_allowance{border-bottom: 1px solid #c6c2c1;}
.freight li button>span{display: inline-block;margin-left: 7px;}
.freight ul li ul li{padding-left: 30px;margin-bottom: 7px}

@media (max-width:1024px) {
	.freight_select,.seat_class,.box_flight,.freight{padding-left: 30px;padding-right: 30px;}
	
}
@media(max-width:802px) {
	.flight_wrap .flight_cotainer .dp_time,.flight_wrap .flight_cotainer .rt_time{font-size: 20px;}
}
@media(min-width:768px) {
		.class_sel_wrap a .card_contents{display:block !important;}
}
@media (max-width:767px) {
	.continue_box {text-align: center;padding: 20px 10px;height: auto;margin-bottom: 	30px;}
	.continue_box .date_summary ul{float: none;}
	.continue_box .date_summary ul{float: none;}
	.continue_box .date_summary a{margin: 0 auto;width: 94%;position: static;display: block;margin-top: 10px;}
	.std_continue_box .price_desc{display: none;}
	a.prev_page{margin-left: 30%;}
	.depart_box, .return_box{width: 100%;float: none;}
	.continue_box .date_summary .price_krw{float: none;padding-right: 0;font-size: 25px;}
	.mobile_blind{position: absolute;left: -9999px;}
	.freight_select,.box_flight,.freight{padding-left: 15px;padding-right: 15px;}
	.freight_select h3{font-size: 27px;}
	.box_header .flight_date_info {font-size: 15px;margin-bottom: 10px;}
	.filter_select{margin-bottom: 10px;}
	.depart_box, .return_box{margin-left: 0;margin-bottom: 25px;}
	.seat_class{padding-left: 15px;padding-right: 15px;}
  .seat_class .class_sel{margin: 0;	width: 	100%;float:none;border:none;}
  .seat_class a .class_sel{margin-top: 0 !important;}
  .class_sel_wrap{position: relative;}
  .class_sel_wrap a+a>.selected_click{/*display: none;*/}
  .class_sel_wrap a+a .card_contents{display: none;}
  .seat_class .class_sel .card_contents{border:1px solid #c6c2c1; }
  .seat_class{position: relative;}
  .seat_class .class_sel .selected_click{width: 50%;}
	.seat_class a+a .class_sel .selected_click{position: absolute;top: 0px;right: 0px;}
	.seat_class .class_sel .card_selected{display:none !important;}
	.depart_box, .return_box{width: 100%;float: none;}
	.flight_wrap .flight_cotainer p{width: 100%;}
	.seat_class .class_sel .selected_click .card_name{width: 100%;border-left:1px solid #c6c2c1;font-size: 14px;}
	.seat_class .class_sel .selected_click .card_name strong{font-size: 19px;}
	.class_sel_wrap>a+a>.class_sel>.selected_click>.card_name{border-right:1px solid #c6c2c1;}
	.class_sel_wrap{height: auto;}	
	.continue_box .date_summary .price_krw{font-size: 25px;}
}
@media (max-width:400px){
		.flight_wrap .flight_cotainer .dp_time, .flight_wrap .flight_cotainer .rt_time{font-size: 17px;	}
		.flight_wrap .flight_cotainer .time_required{font-size: 12px;}
}