@charset "UTF-8";

/*reset*/
*{margin:0; padding:0;}
html{overflow-y:scroll;}
li{list-style:none;}
fieldset{border:none;}
legend, hr, .blind {position:absolute; left:-9999px;}
caption{text-indent:-9999px; height:0; overflow:hidden; visibility:hidden;}
img,button,input[type="submit"],input[type="button"],input[type="reset"]{border:none; vertical-align:middle;}
img{max-width: 100%;}
a{text-decoration:none; color:#4c4c4c;}
body, input, textarea, select, button{font:13px/1.33 Nanum Gothic,'나눔고딕', Malgun Gothic, '맑은고딕', Dotum, '돋움', arial, sans-serif; color:#4d4d4d;}
input, select, button {vertical-align:middle;}
input[type="text"], input[type="email"],input[type="url"], input[type="search"],input[type="password"], select, textarea{border:1px solid #c8c8c8;}
address, em{font-style:normal;}
h1, h2, h3, h4, h5, h6, strong{font-size:100%; font-weight:normal;}
.clearFix:after{content:""; display:block;clear:both;}
.clearFix{*zoom:1;}
button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;width: 100%;}
th{font-weight: normal;}
textarea{resize:none;vertical-align: middle;padding: 2px;}
*,
*:after,*:before {
    box-sizing: border-box;
}
iframe{border:none;}

/*font-icon*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?29932053');
  src: url('../font/fontello.eot?29932053#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?29932053') format('woff2'),
       url('../font/fontello.woff?29932053') format('woff'),
       url('../font/fontello.ttf?29932053') format('truetype'),
       url('../font/fontello.svg?29932053#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*헤더*/
#header.active {height: 43px;position: fixed;width: 100%;z-index: 99;}
#header.active #gnb{display: none;}
#header.active #util_menu{display: none;}
#header.active #header_top{height: 43px;}
#header.active #header_top h1.pc_logo{display: none;}
#header.active #header_top h1.m_logo{margin: 0 auto;display: block;width: 41px;height: 31px;padding-top: 6px;}
#header.active #header_top button.m_btn_gnb{display: block;}
#header_top #util_menu .m_signin_btn{display: none;background: url(../images/common/sign_in.png) right 0 no-repeat;padding-right: 25px;height: 25px;color: #fff;margin-top: 7px;font-size: 17px;font-weight: 500;}
#header_top #util_menu span{text-indent:-9999px;position: absolute;left: -9999px;}
.language{width: 100%;height: 30px;line-height: 30px;background: #661f43;display: none;}
.language ul{max-width: 960px;margin: 0 auto;}
.language li{float: left;margin-right: 35px;font-weight: bold;}
.language li a{color: #fff;}
#header_top_wrap{background-color: #cee053; width: 100%;}
#header_top{max-width: 960px;height: 90px;margin: 0 auto;position: relative;}
#header_top h1.pc_logo{padding-top: 14px; float: left;}
#header_top h1.m_logo{display: none;}
#header_top #util_menu{float: right;padding-top: 36px;}
#header_top #util_menu ul{display: inline-block;}
#header_top form{display: inline-block;position: relative;top: -5px;}
#header_top #util_menu ul li{font-weight: bold;float: left;margin-right: 25px;}
#header_top #util_menu ul li a{position: relative;padding-right: 14px;}
#header_top #util_menu ul li a:before{display:inline-block;content: "\f004"; font-family: 'fontello'; color:#661f43;position: absolute;top: 0;right:0;transition: all 1s linear;}
#header_top #util_menu ul li a.on:before{transform:rotate(180deg);}
#header_top #util_menu ul li a:first-child:before{content: "\f005";}
#header_top #util_menu ul li a{ color:#661f43;}
#header_top label{font-size: 10px;position: absolute;text-outline: 2px;left: 4px;color: #a9a9a9;}
#header_top form:focus label{display: block;}
#header_top input{width: 135px; height: 30px;border: none;background-color: #eef4c4;font-size: 12px;padding-left: 10px;opacity:1;}
#header_top #util_menu input:hover{background: #fff;}
#header_top #util_menu input:focus{background: #fff;}
#header_top #util_menu input::-webkit-input-placeholder{opacity:0;}
#header_top #util_menu input:-moz-placeholder{opacity:0;}
#header_top #util_menu input::-moz-placeholder{opacity:0;}
#header_top #util_menu button{position: absolute;top: 6px;right: 10px;background: none;}
#header_top #util_menu button span{text-indent: -9999px; position: absolute; left: -9999px;}
#header_top #util_menu button:before{content: "\e801"; font-family: 'fontello';color:#4c4c4c;}
#header_top button.m_btn_gnb{background: url(../images/common/m_btn_gnb.png) 0 0 no-repeat;width: 25px;height: 25px;position: absolute;top: 8px;right: 0;display: none;}
.mobile_gnb_close{display: none;}
#header #gnb{height: 50px; width: 100%;border-bottom: 2px solid #c6c2c1;text-align: center;position: relative;}
#header #gnb h2{display: none; }
#header #gnb>ul{width: 100%;max-width: 960px;margin: 0 auto;}
#header #gnb>ul>li{ float: left;width: 16.6666%;background: url(../images/common/bg_gnb_bar.png) 0 50% no-repeat;}
#header #gnb>ul>li:first-child{background: none;}
#header #gnb>ul>li>a{display:block;font-weight: 500;font-size: 15px;height: 50px;line-height: 50px;}
#header #gnb>ul>li:before{display: inline-block;width: 1px;height: 21px;}
#header #gnb>ul>li>a:hover, #header #gnb ul>li>a:focus{border-bottom: 4px solid #661f43;color: #661f43;}
#gnb>ul>li>ul{display: none;position: absolute;left: 50%;margin-left: -480px;top: 50px;width: 100%;max-width: 960px;height: 215px;z-index: 10;background:#ebedec url(../images/common/bg_gnb_1.jpg) 7px 7px no-repeat;padding-left:34%;padding-top: 30px; border-bottom: 1px solid #d7d7d7;}
#gnb>ul>li+li>ul{background-image: url(../images/common/bg_gnb_2.jpg);}
#gnb>ul>li+li+li>ul{background-image: url(../images/common/bg_gnb_3.jpg);}
#gnb>ul>li+li+li+li>ul{background-image: url(../images/common/bg_gnb_4.jpg);}
#gnb>ul>li+li+li+li+li>ul{background-image: url(../images/common/bg_gnb_5.jpg);}
#gnb>ul>li+li+li+li+li+li>ul{background-image: url(../images/common/bg_gnb_6.jpg);}
#gnb>ul>li>ul>li{float: left; text-align: left;width:50%;height: 45px;font-size: 16px;font-weight: 500;}
#gnb>ul>li>ul>li>a:hover,#gnb>ul>li>ul>li>a:focus{text-decoration: underline !important;}
#header .dim_gnb{display: none;}

  

.sign_in{display: none;}

/*푸터*/
#footer{margin: 0 auto;}
#footer .share_box_wrap{width: 100%;background-color: #ebedec;height: 46px;line-height: 46px;border-top: 1px solid #d6d6d6;border-bottom: 1px solid #d6d6d6;}
#footer .share_box_wrap .share_box{max-width: 960px;margin: 0 auto;text-align: center;}
#footer .share_box_wrap .share_box p{display: inline-block;font-size: 16px;margin: 0 7px;}
#footer .share_box_wrap .share_box a span{text-indent:-9999px;position: absolute;left: -9999px;}
#footer .share_box_wrap .share_box a:before{display: inline-block;content: "\f09a"; font-family: 'fontello';font-size: 20px;width: 16px;height: 16px;margin: 0 40px;}
#footer .share_box_wrap .share_box a+a:before{content: "\f099";}
#footer .share_box_wrap .share_box a+a+a:before{content: "\f32d";}
#footer .footer_container{max-width: 960px;margin: 0 auto;}
#footer .footer_container .footer_home_link{width: 13%; height: 50px;float: left;background:  url(../images/common/logo_footer.png) 0 0 no-repeat;margin-top: 45px;}
#footer .footer_container .footer_links{width: 87%;float: right;padding:47px 0 29px 0; }
.footer_links .footer_section{width: 33.3333%;float: left;padding-right: 13px;}
.footer_links .footer_section h3{border-bottom: 1px solid #c6c2c1;font-size: 15px;padding-bottom: 11px;}
.footer_links .footer_section h3+ul{padding-top: 30px;}
.footer_links .footer_section h3+ul li{margin-bottom: 14px;}
#footer .social_icons{margin: 0 auto;padding:40px 0;width: 87%;float: right;}
#footer .social_icons span{text-indent: -9999px;position: absolute;left: -9999px;}
#footer .social_icons li{float: left;margin: 0 7.425%;}
#footer .footer_message{border-top: 1px solid #c6c2c1;font-size: 12px;float: right;width: 87%;padding: 87px 0 40px 0;}
#footer .footer_message p{margin-bottom:3px;}


/*항공권 예약*/
#container_wrap .main_tab_wrap {width: 100%;background: #ebedec;padding-bottom: 30px;}
#container_wrap .main_tab_wrap .main_tab{max-width: 960px;margin: 0 auto;position: relative;}
#container_wrap .main_tab_wrap .main_tab .on button{color: #4c4c4c;background: #ebedec;}
#container_wrap .main_tab_wrap .main_tab h4 {height: 52px;line-height: 52px;text-align: center;position: absolute;top: -51px;left:0;width: 25%; }
#container_wrap .main_tab_wrap .main_tab .btn_2{position: absolute;left: 25%;}
#container_wrap .main_tab_wrap .main_tab .btn_3{position: absolute;left: 50%;}
#container_wrap .main_tab_wrap .main_tab .btn_4{position: absolute;left: 75%;}
#container_wrap .main_tab_wrap .main_tab .btn_4 button{border: none;}
#container_wrap .main_tab_wrap .main_tab h4+div{width: 100%;}
#container_wrap .main_tab_wrap .main_tab h4.btn_2 +div,#container_wrap .main_tab_wrap .main_tab h4.btn_3 +div,#container_wrap .main_tab_wrap .main_tab h4.btn_4 +div{display: none;}
#container_wrap .main_tab_wrap .main_tab h4 button{font-size:19px;background:#4c4c4c;width:100%;height: 49px;display: inline-block;color: #fff;border-right: 1px solid #ebedec;}
#container_wrap .main_tab_wrap .main_tab .trip_type{font-size: 14px;font-weight: bold;display: inline-block;}
#container_wrap .main_tab_wrap .main_tab .trip_type label{padding-bottom: 2px;margin-right: 30px;cursor: pointer;}
#round_trip:checked+label, #one_way:checked+label {color: #661f43;border-bottom: 2px solid #661f43;}
#container_wrap .main_tab_wrap .main_tab ul{display: inline-block;font-size: 14px;font-weight: bold;position: relative;top: 5px;padding-left: 18px;}
#container_wrap .main_tab_wrap .main_tab ul:before{content: "";height: 25px;width: 1px;display: inline-block;position: absolute;top: -1px;left: 0;background-color: #d6d6d6;}
#container_wrap .main_tab_wrap .main_tab ul li{float: left;margin-right: 25px;}

/*section*/
.std_section_wrap{width: 100%;}
.std_section{max-width: 960px;margin: 0 auto;}



/*컨테이너*/
#container_wrap{width: 100%;}
#container_wrap #container{max-width: 960px;margin: 0 auto;} 
#container_wrap .main_visual_wrap {-ms-behavior:url('backgroundsize.min.htc');background:url(../images/main/bg_visual.jpg) center 30% no-repeat;
-webkit-background-size: cover;width: 100%; height: 431px;}
#container_wrap .main_visual{max-width: 960px; margin: 0 auto;}
#container_wrap .main_visual a:hover{opacity: 1;}
#container_wrap .main_visual a{display: inline-block;padding: 28px 25px;background: #00aeef; opacity: 0.8; color: #fff;width: 38.2%;margin-top: 52px;}
#container_wrap .main_visual p:first-child{font-size: 32px;font-weight: 450; margin-bottom: 30px;}
#container_wrap .main_visual p:first-child+p{font-size: 14px;margin-bottom:11px; }
#container_wrap .main_visual p:first-child+p+p{font-size: 11px;}
.main_tab .airport{padding-top: 21px;margin-bottom: 7px;position:relative;}
.main_tab .airport .flight_depart,.main_tab .airport .flight_destination{position: relative;}
.main_tab .airport input{width: 100%;border: none; border-bottom: 1px solid #c6c2c1;height: 49px;line-height: 49px;}
.main_tab .airport label{position: absolute;top: 6px;left: 10px;font-size: 12px;} 
.main_tab .airport .flight_depart{width: 50%;float: left;padding-right: 2px;}
.main_tab .airport .flight_destination{width: 50%;float: left;}
.main_tab .flight_date {width: 54%;display: inline-block;float: left;position: relative;padding-right: 2px;}
.main_tab .flight_date .btn_date_picker>span {font-size: 12px;position: absolute;top:6px;left: 10px;}
.main_tab .flight_date .btn_date_picker input[type=text]{float: left;width: 50%;height: 49px;text-align: left;background: #fff;border-bottom: 1px solid #c6c2c1;}
.main_tab .flight_date .btn_date_picker> input[type=text] >span{padding-left: 10px;margin-top: 20px;display: inline-block;}
.main_tab .passenger{width: 26%;float: left;position:relative;padding-right: 2px;}
.main_tab .passenger>span{font-size: 12px;position: absolute;top:6px;left: 10px;}
.main_tab .passenger button{width: 100%;height: 49px;text-align: left; display: block;background: #fff;border-bottom: 1px solid #c6c2c1;}
.main_tab .passenger button >span{padding-left: 10px;margin-top: 20px;display: inline-block;}
.main_tab .passenger +button{color: #fff;width: 20%;display: block;float: left;background: #661f43;border-bottom: 1px solid #c6c2c1;height: 49px;line-height: 49px;}
.content_2{padding-top: 70px;margin-bottom: 64px;}
.promotion_header {text-align: center;margin-bottom: 39px;}
.promotion_header .lastest_promotion{font-size: 22px;display: inline-block;vertical-align: middle;}
.promotion_header .destination_list{display: inline-block;}
.promotion_header .destination_list select{background: none;font-size: 22px;border: none;}
.main_prm{margin-bottom: 39px;}
.main_prm .cover{width: 61.98%;float: left;position: relative;}
.main_prm .cover img{width: 100%;}
.main_prm .description{width:38.02%;float: left;padding-left: 5.833%;}
.main_prm .description h4{font-size: 28px;margin-bottom: 20px;}
.main_prm .description h4 span:first-child{font-weight: bold;}
.main_prm .description .item{padding-bottom: 20px;border-bottom: 1px solid #c6c2c1;}
.description .group .pmt{color: #661f43;font-weight: bold;margin-bottom: 10px;}
.description .group .pmt+a{color: #9aa73e;font-size: 19px;}
.description .group .f_cls{font-size: 16px;margin-top: 8px;}
.description .link{font-size: 16px;margin-top: 19px;}
.secondary_prm {width: 33.3333%; height: 170px;float: left;margin-bottom: 30px;}
.secondary_prm .cover_img{width:41.875%;float: left;position: relative;}
.secondary_prm .cover_img img{z-index: -1;position: relative;}
.secondary_prm .cover_img a{display: block;height: 100%;width: 100%;position: relative;}
.secondary_prm .cover_img a:after, .main_prm .cover:after{content: ""; display:block;width: 42px; height: 42px;position: absolute;
top: 6px;right: -19px;background: url(../images/main/bg_air.png) 0 0 no-repeat;}
.main_prm .cover:before{right:-20px;top:10px;}
.secondary_prm .cover_img img{width: 100%;}
.secondary_prm .information{width:43.25%;float:left; }
.secondary_prm .information h4{font-size: 19px;margin-bottom: 5px;}
.secondary_prm .information .desc{height: 30px;font-size: 12px;color: #661f43;font-weight: bold;}
.secondary_prm .information .desc+a{font-size: 17px;color: #9aa73e;}
.secondary_prm .information .flight_class{font-size: 12px;padding-top: 7px;padding-bottom: 8px;}
.secondary_prm .information .guide{font-size: 14px;padding-top: 6px;border-top: 1px solid #c6c2c1;display: block;}
.secondary_prm .information{margin-left: 7.375%;}
.trip_promotion .term_service{font-size:12px; text-align: center;margin-bottom: 22px;}
.service_info{width: 100%;font-size: 17px; text-align: center;margin-bottom:32px;}
.service_info a{display: inline-block;color: #661f43;text-align: center;border-top: 1px solid #c6c2c1;border-bottom: 1px solid #c6c2c1;padding: 1.25% 7.81%;margin: 0 3%;}
.nabi_point{width: 100%;height: 259px;background: #ebedec;margin-bottom: 34px;}
.nabi_point .promotion_img{width: 50%;height: 259px; float: left;background: url(../images/main/bg_prm_1.jpg) center center no-repeat;background-size: cover;}
.nabi_point .details{width: 50%;float: right;margin-top: 54px;padding: 0 4.375%;}
.nabi_point h3,.lent_a_car h3,.travel h3{font-size: 24px;margin-bottom: 18px;}
.lent_a_car{width: 100%;height: 259px;background: #ebedec;margin-bottom: 34px;font-size: 16px;}
.lent_a_car .promotion_img{width: 50%;height: 259px; float: left;background: url(../images/main/bg_prm_2.jpg) center center no-repeat;background-size: cover;}
.lent_a_car .details,.travel .details{width: 50%;float: right;margin-top: 35px;padding: 0 4.375%;}
.travel{width: 100%;height: 259px;background: #ebedec;font-size: 16px; margin-bottom: 65px;}
.travel .promotion_img{width: 50%;height: 259px; float: left;background: url(../images/main/bg_prm_3.jpg) center center no-repeat;background-size: cover;}
.more{width: 156px;display: block;border: 1px solid #661f43;padding: 13px 30px;color: #661f43;font-size: 14px;margin-top: 24px;}
.more:before{content: "\f006";display: inline-block;width: 10px; height: 10px;font-family: 'fontello'; color:#661f43;position: relative;top: 0;left: 81px;}
.news_letter_wrap{max-width: 680px;margin: 0 auto;}
.news_letter_wrap .news_letter{width: 100%;}
.news_letter h3{color: #00aeef;font-size:28px;text-align: center;margin-bottom: 16px;}
.news_letter .new_header{text-align: center;margin-bottom: 13px;}
.subscription_login .radio_group{margin-bottom: 16px;}
.subscription_login .radio_group label{margin-right: 32px;}
.subscribe_wrap{width: 100%;margin: 0 auto;}
.subscribe_wrap .customer_gender{width: 26.974%;float: left;}
.subscribe_wrap .customer_gender select{width: 100%;height: 49px;line-height: 49px;display:inline-block;padding: 15px 0;}
.subscribe_wrap .customer_name{width: 35.197%;float: left;margin-left: 1.316%;position: relative;}
.subscribe_wrap .customer_name input{width: 100%;height: 49px;}
.subscribe_wrap .customer_name label{position: absolute;top: 6px;left: 10px;}
.subscribe_wrap .customer_email{width: 100%;float: left;position: relative;margin-top: 8px;}
.subscribe_wrap .customer_email input{width: 100%;height: 49px;}
.subscribe_wrap .customer_email label{position: absolute;top: 6px;left: 10px;}
.legal_notice{width: 100%;position: relative;margin-top: 8px;}
.legal_notice .txt_st{font-weight: bold;color: #661f43;}
.legal_notice input{display:inline-block;position: absolute;top: 2px;left: 5px;}
.legal_notice label span{display: inline-block;padding-left: 4.44%;}
.subscribe_wrap{width: 100%;}
.subscribe_wrap button[type="submit"]{width: 34.21%;height: 39px;background: #661f43;color: #fff;display: block;margin:  auto;margin-top: 8px;}


/*! jQuery UI - v1.12.1 - 2017-01-26
* http://jqueryui.com
* Includes: core.css, datepicker.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=custom-theme&bgImgOpacityError=&bgImgOpacityHighlight=&bgImgOpacityActive=&bgImgOpacityHover=&bgImgOpacityDefault=&bgImgOpacityContent=&bgImgOpacityHeader=&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=%23666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=%23aaaaaa&iconColorError=%23cc0000&fcError=%235f3f3f&borderColorError=%23f1a899&bgTextureError=flat&bgColorError=%23fddfdf&iconColorHighlight=%23777620&fcHighlight=%23fff&borderColorHighlight=%23c6c2c1&bgTextureHighlight=flat&bgColorHighlight=%23661f43&iconColorActive=%23ffffff&fcActive=%23000&borderColorActive=%23c2262e&bgTextureActive=flat&bgColorActive=%23fbf4f6&iconColorHover=%23555555&fcHover=%232b2b2b&borderColorHover=%23cccccc&bgTextureHover=flat&bgColorHover=%23ededed&iconColorDefault=%23777777&fcDefault=%23454545&borderColorDefault=%23c5c5c5&bgTextureDefault=flat&bgColorDefault=%23f6f6f6&iconColorContent=%23444444&fcContent=%23333333&borderColorContent=%23dddddd&bgTextureContent=flat&bgColorContent=%23ffffff&iconColorHeader=%23444444&fcHeader=%234c4c4c&borderColorHeader=%23dddddd&bgTextureHeader=flat&bgColorHeader=%23f7e1ed&cornerRadius=2px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
  z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: .5em;
  top: .3em;
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #f7e1ed;
  color: #4c4c4c;
  font-weight: bold;
}
.ui-widget-header a {
  color: #4c4c4c;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: #454545;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 1px solid #cccccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
  color: #2b2b2b;
  text-decoration: none;
}

.ui-visual-focus {
  box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #c2262e;
  background: #fbf4f6;
  font-weight: normal;
  color: #000;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
  border: #c2262e;
  background-color: #000;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #000;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #c6c2c1;
  background: #661f43;
  color: #fff;
}
.ui-state-checked {
  border: 1px solid #c6c2c1;
  background: #661f43;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #fff;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter:Alpha(Opacity=70); /* support: IE8 */
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter:Alpha(Opacity=35); /* support: IE8 */
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background-image: url("images/ui-icons_555555_256x240.png");
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
  background-image: url("images/ui-icons_777620_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("images/ui-icons_cc0000_256x240.png");
}
.ui-button .ui-icon {
  background-image: url("images/ui-icons_777777_256x240.png");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-caret-1-n { background-position: 0 0; }
.ui-icon-caret-1-ne { background-position: -16px 0; }
.ui-icon-caret-1-e { background-position: -32px 0; }
.ui-icon-caret-1-se { background-position: -48px 0; }
.ui-icon-caret-1-s { background-position: -65px 0; }
.ui-icon-caret-1-sw { background-position: -80px 0; }
.ui-icon-caret-1-w { background-position: -96px 0; }
.ui-icon-caret-1-nw { background-position: -112px 0; }
.ui-icon-caret-2-n-s { background-position: -128px 0; }
.ui-icon-caret-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -65px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -65px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 1px -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 2px;
}

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666;
}




/*반응형 12컬럼*/
.grid *[class^="col_pc"]{float:left;}
.grid .row:after{content:""; display:block;clear:both;}
.grid .row{*zoom:1;} /* ie7 */
.grid .col{padding:5px 8px;border:1px solid #000;margin:5px;}
.col_pc_1{width:8.333%;}
.col_pc_2{width:16.666%;}
.col_pc_3{width:24.999%;}
.col_pc_4{width:33.332%;}
.col_pc_5{width:41.665%;}
.col_pc_6{width:49.998%;}
.col_pc_7{width:58.331%;}
.col_pc_8{width:66.664%;}
.col_pc_9{width:74.997%;}
.col_pc_10{width:83.33%;}
.col_pc_11{width:91.663%;}
.col_pc_12{width:100%;}

@media (max-width:1024px) {
  .col_tablet_1{width: 8.333%;}
  .col_tablet_2{width: 16.666%;}
  .col_tablet_3{width: 24.999%;}
  .col_tablet_4{width: 33.33%;}
  .col_tablet_5{width: 41.665%;}
  .col_tablet_6{width: 49.998%;}
  .col_tablet_7{width: 58.331%;}
  .col_tablet_8{width: 58.331%;}
  .col_tablet_9{width: 74.997%;}
  .col_tablet_10{width: 83.33%;}
  .col_tablet_11{width: 91.663%;}
  .col_tablet_12{width: 100%;}

  #header{height: 43px;}
  #header.active{position: static;}
  #header_top_wrap{padding: 0 30px;}
  #header_top{width: 100%;height: auto;}
  #header_top h1{width: 41px;padding:6px 0 6px 0;}
  #header_top .pc_logo{display: none;}
  #header_top .m_logo{display: block !important;margin: 0 auto;}
  #header_top #util_menu {display: block;padding: 0;}
  #header_top #util_menu ul{display: inline;}
  #header_top #util_menu ul li,#header_top #util_menu form{display: none;}
  #header_top #util_menu .m_signin_btn{display: block;position: absolute;top: 0; right: 0;z-index: 2;}
  #header_top #util_menu .m_signin_btn:before{content:"";}
  #header .sign_in{
    position: fixed;
    top: 0;
    right: -100%;
    background: #ebedec;
    width: 30%;
    height: 100%;
    z-index: 50;
    border-left: 1px solid #d8d8d8;
    box-shadow: -1px 0 5px rgba(0,0,0,0.5);

  }
  #header .mobile_sign_in_close{
    display: block;
    position: absolute;
    left: -36px;
    top: 3px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #999;
    background: #f1f1f1;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    z-index: 1;
  }
  .join_top span{display: block;}
  #header #gnb{
    position: fixed;
    top: 0;
    left: -100%;
    background: #fff;
    width: 30%;
    height: 100%;
    z-index: 50;
    border-left: 1px solid #d8d8d8;
    box-shadow: -1px 0 5px rgba(0,0,0,0.5);}
  #header #gnb{/*background: none;*/border: none;display: block;}
  #header #gnb h2{display: block;background: #cee053;display: block;height: 43px;line-height: 43px;font-size: 16px;color: #4c4c4c;font-weight: bold;}
  #header #gnb>ul{margin: 0;width: 100%;max-width: auto;}
  #header #gnb>ul>li{width: 100%;float:none;background: #fff;text-align: left;border-top: 1px solid #c6c2c1;}
  #header #gnb>ul>li>a:hover #header #gnb>ul>li{border: none;}
  #header #gnb>ul>li:first-child{border-top: none}
  #header #gnb>ul>li>a{padding: 0 15px;}
  #header #gnb>ul>li a:hover{border: none;text-decoration: underline;}
  #header #gnb>ul>li>ul{min-width: auto;height: auto;display: block;/*background: none;*/position: static;padding:0;display: none;margin: 0;}
  #gnb>ul>li>ul>li{float: none;background: #ebedec;width: 100%;height: auto;padding: 5px 15px;border-top: 1px solid #fff;}
  #header_top button.m_btn_gnb{display:inline-block;position: absolute;left: 0;top: 8px;z-index: 19;}
  .mobile_gnb_close{
    display: block;
    position: absolute;
    right: -35px;
    top: 3px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #999;
    background: #f1f1f1;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    z-index: 1;
  }
  #header .dim_gnb{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.8);z-index: 20;}
  #container_wrap .main_visual a{margin-left: 5%; }
  #container_wrap .main_tab_wrap{padding: 0 30px 30px 30px;}
  .main_tab .flight_date{width: 100%;margin-bottom: 10px;}
  .main_tab .flight_date .btn_date_picker+.btn_date_picker{padding-right: 0;}
  .main_tab .passenger{width: 50%;}
  .main_tab .passenger +button{width: 50%;text-align: left;padding-left: 10px;}
  #container_wrap #container{padding: 0 30px;}
  .secondary_prm{width: 50%;}
  .secondary_prm .cover_img{width: 25%;}
  .main_prm .description .item{margin-right: 50px;}
  .subscription_login .radio_group .radio_mb{width: 100%;margin-bottom: 5px;}
  .news_letter_wrap .news_letter{width: 70%;margin: 0 auto;}
  .legal_notice{display: none;}
  #footer .footer_container{padding: 0 30px;position: relative;}
  .footer_links .footer_section{width: 50%;height: 290px;}
  #footer .social_icons{position: absolute;top: 70px;left: 0; width: 13%;padding-left: 25px;}
  #footer .social_icons li{float: none;margin-bottom: 20px;}
  #footer .footer_container .footer_links{padding:47px 0 0 0;}
}
@media (max-width:768px) {
  .col_mobile_1{width: 8.333%;}
  .col_mobile_2{width: 16.666%;}
  .col_mobile_3{width: 24.999%;}
  .col_mobile_4{width: 33.33%;}
  .col_mobile_5{width: 41.665%;}
  .col_mobile_6{width: 49.998%;}
  .col_mobile_7{width: 58.331%;}
  .col_mobile_8{width: 58.331%;}
  .col_mobile_9{width: 74.997%;}
  .col_mobile_10{width: 83.33%;}
  .col_mobile_11{width: 91.663%;}
  .col_mobile_12{width: 100%;}

  #header_top_wrap{padding: 0 15px;}
  #header_top #util_menu .m_signin_btn{text-indent: -9999px;}
  #header #gnb{left: -100%; width: 80%;}
  .content_2{padding-top:  20px;}
  #container_wrap #container{padding: 0 15px;}
  #container_wrap .main_visual_wrap{position: relative;}
  #container_wrap .main_visual a{width: 100%;margin-left: 0;position: absolute;left: 0;bottom: -213px;opacity:1;}
  #container_wrap .main_visual:after{content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: 0;
    border: 44em solid #00aeef;
    border-top: 3.5em solid transparent;
    border-bottom: 0;
    border-left: 0;
  }
  #container_wrap .main_tab_wrap{margin-top: 213px;padding: 0 15px;}
  #container_wrap .main_tab_wrap .main_tab{padding:15px 0 20px 0;}
  #container_wrap .main_tab_wrap .main_tab h4{display: none; }
  .promotion_header .lastest_promotion{font-size: 15px;}
  .promotion_header .destination_list{display: block;padding-top: 10px;}
  .main_tab .airport .flight_depart{width: 100%;}
  .main_tab .airport .flight_destination{width: 100%;}
  .main_tab .flight_date .btn_date_picker{width: 100%;}
   #container_wrap .main_tab_wrap .main_tab ul{padding-left: 0;}
  #container_wrap .main_tab_wrap .main_tab ul:before{background: none;}
  .main_tab .airport .flight_depart{padding-right: 0;margin-bottom: 10px;}
  .main_tab .flight_date .btn_date_picker{padding-right: 0;}
  .main_tab .flight_date .btn_date_picker:first-child{margin-bottom: 10px;}
  #container_wrap .main_tab_wrap .main_tab .trip_type{display:block;width: 100%; margin-bottom: 10px;}
  .main_prm .cover{float: none; width:100%;}
  .main_prm .cover:after{top:103%;left: 0;width:30%;width:42px;}
  .main_prm .description{float: none; width: 85%;margin-left: 15%;padding-left:0;}
  .main_prm .description h4{margin-top: 3%;font-size: 19px;}
  .main_prm .description .item{margin-right: 0;}
  .secondary_prm {float: none;width: 100%;height: auto;position: relative;margin-bottom: 42px;padding-top: 10px;}
  .secondary_prm .information{width: 67.625%;}
  .secondary_prm .information .guide{width: 100%;position: absolute;bottom:-25%;left: 0;padding-bottom: 6px;border-bottom: 1px solid #c6c2c1;text-align: center;}
  .secondary_prm.even_num .cover_img{float: right;width:  27.375%;margin-right:5%;}
  .secondary_prm.even_num .information{margin-left: 0; width: 67.625%;}
  .service_info a{width: 100%;margin : 0 0 10px 0;}
  .nabi_point,.lent_a_car{height: 530px;}
  .travel{height: 550px;}
  .nabi_point .promotion_img,.lent_a_car .promotion_img,.travel .promotion_img{float: none;width: 100%;}
  .nabi_point .details,.lent_a_car .details, .travel .details{float: none;width: 100%;height: 259px;padding:4% 5.375%;text-align: center;}
  .details .more{margin: 0 auto;}
  .lent_a_car .details .more, .travel .more{margin-top: 10px;}
  .news_letter_wrap .news_letter{width: 100%;}
  #footer .footer_container{padding:0 15px;}
  #footer .share_box_wrap .share_box p{font-size: 12px;}
  #footer .share_box_wrap .share_box a:before{margin: 0 5%;}
  #footer .footer_container .footer_home_link{width: 100%;background-position: center 0;}
  #footer .footer_container .footer_links{width: 100%;}
  .footer_links .footer_section{float: none;width: 100%;height: auto;padding-right: 0;}
  .footer_links .footer_section h3{font-weight: bold;}
  .footer_links .footer_section h3+ul{padding: 10px 0 30px 0;}
  .footer_links .footer_section h3+ul li{float: left;width: 50%;}
  #footer .social_icons{position: static;width: 100%;margin: 0 auto;padding-left: 0;}
  #footer .social_icons li{float: left;margin: 0 5%;}
  #footer .footer_message{width: 100%;}
}
@media (max-width:500px){
  #container_wrap .main_visual a{bottom:-226.5px;}
  #container_wrap .main_tab_wrap{margin-top: 226.5px;}
}